* {
    margin: 0;
    padding: 0;
}

.header .contact {
    background-color: #383838;
    color: #a3a3a3;
    height: 40px;
    display: flex;
}

.header .contact .list-box {
    width: 100%;
    max-width: 1172px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header .contact .list-left {
    list-style: none;
    font-size: 14px;
    display: flex;
}

.header .contact .list-right {
    font-size: 14px;
    display: flex;
    list-style: none;
    align-items: center;
}

.header .contact .list-right li a {
    text-decoration: none;
    color: #a3a3a3;
}

.header .contact .list-right li a:hover {
    color: white;
}

.header .contact .list-left li {
    position: relative;
    margin-right: 40px;
}

.header .contact .list-left li::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    right: -20px;
    background-color: #424242;
}

.header .contact .list-left li i {
    margin-right: 10px;
}

.header .contact .list-right li {
    border-right: 1px solid #424242;
    padding: 0 20px;
}

.header .contact .list-right li:nth-child(4) {
    padding-right: 0;
    border: none;
}

.header .contact .list-right li:last-child {
    padding-right: 0;
    border: none;
    padding-left: 5px;
}

.header .logo {
    padding-top: 40px;
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 1172px;
    justify-content: space-between;
}

.header .logo .search .form .box {
    display: flex;
}

.header .logo .search .form .box .item .option {
    height: 40px;
    width: 160px;
    border: 1px solid #e8e8e8;
    border-right: none;
    font-size: 14px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
}

.header .logo .search .form .box .item .option {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    background-color: #ffffff;
}

.header .logo .search .form .box .item:first-child::before {
    content: '\f0d7';
    position: absolute;
    font-family: "Font Awesome 5 Free";
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
    font-weight: 600;
    z-index: 10;
    color: #afafaf;
}

.header .logo .search .form .box .item .option:focus-visible,
.header .logo .search .form .box .item .search_pr:focus-visible,
.header .logo .search .form .box .item .button:focus-visible {
    outline: none;
}

.header .logo .search .form .box .item:first-child {
    position: relative;
}


.header .logo .search .form .box .item:first-child:after{
    background-color: #e8e8e8 ;
    content: "";
    height: 27px;
    width: 1px;
    position: absolute;
    bottom: 5px;
    right: -5px;
}

.header .logo .search .form .box .item:nth-child(2) {
    height: 38px;
    width: 320px;
    border: 1px solid #e8e8e8;
    border-left: none;
    font-size: 14px;
    padding-left: 20px;
    margin-right: 10px;
}

.header .logo .search .form .box .item .search_pr {
    height: 38px;
    width: 278px;
    border: none;
}

.header .logo .search .form .box .item .button i {
    color:#afafaf;
}

.header .logo .search .form .box .item .button {
    border: none;
    background: white;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.header .logo .search .form .box .item:last-child {
    border: 1px solid #40bea7;
    height: 38px;
    width: 140px;
}

.header .logo .search .form .box .item .cart {
   display: flex;
}

.header .logo .search .form .box .item .cart .cart-icon {
    width: 29px;
    background-color: #40bea7;
    height: 28px;
    padding-top: 10px;
    padding-left: 10px;
}

.header .logo .search .form .box .item .cart .total {
    padding: 10px;
}

.header .logo .search .form .box .item .cart .cart-icon i {
    color: white;
}

.header .categories {
    margin-top: 40px;
    border-top: 1px solid #e8e8e8;
    height: 50px;
}

.header .categories .box {
    max-width: 1172px;
    width: 100%;
    margin: auto;
    display: flex;
    font-size: 16px;
    text-align: center;
    height: 50px;
}

.header .categories .box .item .text {
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.header .categories .box .item .menu .text-menu {
    color: white;
    text-decoration: none;
}

.header .categories .box .item .text:hover {
    cursor: pointer;
    color: #40bea7;
}

.header .categories .box .item:first-child {
    background-color: #40bea7;
    color: white;
    width: 270px;
    margin-left: 0;
    cursor: pointer;
}

.header .categories .box .item .fa-bars:first-child {
   padding-right: 20px;
}

.header .categories .box .item .dropdown {
    display: none;
    position: absolute;
    text-align: left;
    background-color: white;
    top: 50px;
}

.header .categories .box .item .dropdown .list-menu {
    list-style: none;
    min-width: 270px;
}

.header .categories .box .item .dropdown .list-menu li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #eeeeee;
}

.header .categories .box .item .dropdown .list-menu li a:hover {
    background-color: #40bea7;
    color: white;
}

.header .categories .box .item {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .categories .box .item .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: 50px;
    left: 0px;
}

.header .categories .box .item .menu {
    width: 270px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header .categories .box .item .dropdown-content a {
    display: block;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none;
    color: black;
    text-align: left;
    padding: 12px 16px;
}

.header .categories .box .item:hover .dropdown-content {  
    display: block;
}

.header .categories .box .item .dropdown-content a:last-child {
    border-bottom: none;
}

.header .categories .box .item .dropdown-content a:hover {  
    background-color: #40bea7;  
    font-weight: bold;  
    color: white;}

.header .background {
    height: 600px;
    background-color: #e7e7e7;
    background-image: url(../images/1.png);
    background-position: right -127px;
    background-repeat: no-repeat;
}

.header .background .content {
    width: 100%;
    max-width: 1172px;
    margin: auto;
    padding-top: 160px;
    text-align: left;
}

.header .background .title1 {
    color: #3f3f3f;
}

.header .background .title2 {
    color: #3f3f3f;
    font-size: 40px;
    margin-top: 10px;
}

.header .background .text {
    color: #3f3f3f;
    font-size: 14px;
    margin-top: 18px;
    font-style: italic;
}

.header .background .button {
    margin-top: 40px;
}

.header .background .content .button .view {
    width: 160px;
    height: 50px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.header .background .content .button .view a {
    text-decoration: none;
    color: white;
}

.header .background .button .buy {
    width: 160px;
    height: 50px;
    border: 2px solid #40bea7;
    color: #3f3f3f;
    cursor: pointer;
}
.header .background .button .buy:hover,
.header .background .content .button .view:hover {
    background-color: #40bea7;
}

.header .background .content .button .buy a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #383838;
    margin-top: -4px;
}

.footer .wrap {
    display: flex;
    padding-top: 130px;
    max-width: 1172px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.footer .wrap .item {
    color: white;
    margin-right: 50px;
}

.footer .wrap .item:last-child{
    margin-right: 0;
}

.footer .wrap .item h3 {
    margin-bottom: 40px;
}

.footer .wrap .item .contact {
    font-size: 14px;
    margin-bottom: 14px;
}

.footer .wrap .item .contact span:last-child {
    color: #a3a3a3;
}

.footer .wrap .item .icon i:first-child {
    margin-left: 0;
}

.footer .wrap .item .icon {
    margin-top: 28px;
}

.footer .wrap .item .icon i {
    width: 30px;
    height: 25px;
    margin-left: 5px;
    background-color: #424242;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.footer .wrap .item .link a {
    display: block;
    text-decoration: none;
    color: #a3a3a3;
    margin-bottom: 14px;
    font-size: 14px;
}

.footer .wrap .item .link a:hover {
    color: white;
}

.footer .wrap .item .box {
    display: flex;
    border-bottom: 1px solid #424242;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer .wrap .item .box:last-child{
    border: none;
}


.footer .wrap .item .box-right a {
    font-size: 14px;
    color: #a3a3a3;
    line-height: 24px;
    display: block;
    max-width: 170px;
    text-decoration: none;
}

.footer .wrap .item .box-right a:hover {
    color: white;
}

.footer .wrap .item .box-left {
    border: 2px solid #40bea7;
    height: 56px;
    width: 46px;
    text-align: center;
    margin-right: 20px;
}

.footer .wrap .item .box-left .text-top {
    font-size: 32px;
    position: relative;
}

.footer .wrap .item .box-left .text-top::after {
    content: "";
    background-color: #40bea7;
    display: block;
    height: 1px;
    width: 34px;
    left: 6px;
    bottom: 1px;
    position: absolute;
}

.footer .wrap .item .box-left .text-button {
    font-size: 14px;
    margin-top: 2px;
}

.footer .wrap .item .img2 {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
}

.footer .logo {
    max-width: 1172px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer .logo::after {
    background-color: #424242;
    content: "";
    height: 1px;
    width: 453.5px;
    top:15px;
    right: 0;
    position: absolute;
}

.footer .logo::before {
    background-color: #424242;
    content: "";
    height: 1px;
    width: 453.5px;
    top:15px;
    left: 0;
    position: absolute;
}

.footer .Topic {
    margin-top: 40px;
    color: #909090;
    text-align: center;
}

.footer .icon-footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer .icon-footer i {
    margin: 0 20px;
    background-color: #383838;
    color: #5a5a5a;
    transform: scale(2.2);
}