body {
	background-color: #f2f3f5;
    color: #9b9b9b;
    font-size: 15px;
    line-height: 1.8;
}

.baitape {
	margin: 30px auto;
    width: 1145px;
}

.baitape .title {
	color: #1F1F1F;
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 35px;
}

.baitape .description {
	color: #A9AAAA;
	font-size: 18px;
	line-height: 25px;
	margin-top: 0;
	margin-bottom: 60px;
}

.wrap-box {
	display: flex;
}

.wrap-box .box-left {
	margin-right: 30px;
}

.wrap-box .box-left img {
	border-radius: 10px;
	margin-bottom: 20px;
}

.wrap-box .box-left .title {
	margin-top: 0;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 30px;
	color: #1F1F1F;
}

.wrap-box .box-left .content {
	color: #999999;
    font-size: 16px;
}

.list .item {
	border-bottom: 1px dashed #F44336;
	margin-bottom: 18px;
	padding-bottom: 20px;
	display: flex;
}

.list .item:last-child {
	border: none;
}

.list .item .image {
	height: 100px;
    width: 100px;
	margin-right: 30px;
}

.list .item .image img {
	height: 100px;
    width: 100px;
	border-radius: 4px;
}

.list .item .content h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #1F1F1F;
	font-size: 16px;
    line-height: 16px;
}

.list .item .content p {
	margin: 0;
}